.comments-index {
  background-color: rgba(254, 236, 255, 0.9);
  display: block;
  text-align: center;
  border-radius: 5px;
}

.comment-form{
  display: flex;
  text-align: center;
}

.comment-submit{
  display: inline-block;
  margin-top: 20px;
  padding: 5px;
  background-color:  rgba(74, 252, 195, 0.876);
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.comment{
  display: flex;
  background-color:  rgba(74, 252, 195, 0.876);
  border: 1px solid #09bd66;
  border-radius: 5px;
}

.comment p{
   margin: 0;
}

.comment-text{
  display: block;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgba(146, 246, 173, 0.5);
  border: 1px solid #09bd66;
}

.user-info{
  color: gray;
  font-weight: bold;
}