
<div class="container">
  <h1 class='new-top'>新規投稿ページ</h1>
    <%= render 'shared/new_edit', locals: { f: @recipe } %>
  <div class="new-top-coler box-padding">
    <div class="sell-btn-contents">
      <%=link_to 'もどる', root_path, class:"btn btn-outline-secondary btn-lg px-4 gap-3" %>
    </div>
  </div>
</div>