body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: 
    url("housewife.jpg");
  background-color:rgba(255,255,255,0.1);
  background-blend-mode:darken;
  background-size: cover;
  background-position: 50%;

}
