body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: 
    url("housewife.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.top-background {
  padding-top: 200px;
}