.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-header {
  position: fixed;
  top: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  width: 100%; /* ヘッダーの横幅を指定する */
  height: 100px; /* ヘッダーの高さを指定する */
  padding: 0 20px;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.header-title {
  text-decoration: none;
  position: relative;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #0d36d6;
}

.hello-user {
  padding-right: 10px;
  font-size: 18px;
}